.feature-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  padding: 1.8rem;
  border-radius: 1rem;
  background: var(--card-bg);

  border: 1px solid var(--card-border);

  transition: all 0.25s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--card-shadow-hover);
  }

  /* ICON BADGE */
  .feature-icon {
    min-width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.7rem;
    background: var(--icon-bg);

    font-size: 1.3rem;
  }

  .feature-content {
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
      color: var(--text-primary);
    }

    p {
      font-size: 0.95rem;
      color: var(--text-muted);
      line-height: 1.5;
      margin-bottom: 2rem;
    }
  }

  .btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);

    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    font-family: inherit;
    text-decoration: none;
    font-weight: 500;

    align-self: flex-end;
    width: 30%;

    &:hover {
      filter: brightness(0.95);
    }
  }
}
